
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color:rgb(78, 36, 225);
    background-color:white;

  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
  font-family: cursive;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
 img {
  max-width: 100%;
  height: auto;
  display: block;
 }

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
} 

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color:  rgb(78, 36, 225);
  box-shadow: 0 1px 4px rgba(225, 234, 242, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  color: white;
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color:white;
}
.nav__logo {
  color: var(--second-color);
}

/*===== HOME =====*/

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  position: relative;
  row-gap: 5rem;
}
.home__title {
  font-size: var(--big-font-size);
}
.home__title-color {
  color: var(--first-color);
}
.homeborder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.button {
  display: inline-block;
  background-color: white;
  color: blue;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  height: auto;
  width: auto;
  padding-right: 40px;
  border-radius: 15px;
}
.border-box{
  background-color:rgb(111, 113, 244);
  display: grid;
  padding: 30px;
  gap: 20px;
  color: white;
}
.about__img{
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.pho{
  width: 100%;
  border-radius: 50%;
}

/* ===== Tools =====*/

.work__container {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  padding: 70px;
  border-radius: 10px;
  row-gap: 2rem;
}


/*=====Education=====*/
.fix{
  height: 80%;
}
.edu{
  padding: 0 10px 10px 10px;
  box-shadow: rgba(1, 1, 1,0.1) 0px 0px 1px 0.5px;
  border-radius: 5px;
  color: white;
}
.eddu{
  padding-bottom: 0;
}
.black {
  color:rgb(78, 36, 225);
}
.black1 {
  color: rgb(59, 55, 55);
}

.black2 {
  color: rgb(72, 49, 220);
}

/* ===============github============== */

.git{
  display: flex;
}
.git>div{
  width: 100%;
  height: 100%;
}


/* skills */


h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.tech-item {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(36, 188, 215, 0.3);
}

.tech-item img {
  max-width: 50px;
  margin-bottom: 10px;
}

.tech-item p {
  margin: 0;
  font-size: 1.2em;
}


.section {
  width: 100%;
  margin: 20px 0;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.tech-stack-container,
.tools-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
  gap: 20px;
}

.tech-item,
.tool-item {
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.tech-item img,
.tool-item img {
  max-width: 64px;
  margin-bottom: 10px;
}

.tech-item span,
.tool-item span {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.tech-item:hover,
.tool-item:hover {
  transform: scale(1.1);
}

/* ===== MEDIA QUERIES=====*/

@media screen and (max-width:480px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
    .work__container_git {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      padding-top: 2rem;
    }
    
  }
  
  
  @media screen and (min-width: 576px) {
    .home {
      padding: 4rem 0 2rem;
    }
    .home__social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon {
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img {
      width: 300px;
      bottom: 25%;
    }
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
    .skills__container {
      grid-template-columns: 0.7fr;
      justify-content: center;
      column-gap: 1rem;
    }
    .section-title{
      margin-top:40px;
    }
    .work__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      padding-top: 2rem;
    }
    .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
} 
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
    
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
 @media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
    background-color: red;
    color-scheme: red;
  }
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(90, 92, 241);
}
.contact-email{
  color: white;
}

.home__img{
  border-radius: 25px;
}


/* Footer Section */
.footer {
  background-color: rgb(78, 36, 225);
  color: white;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  gap: 2rem;
  width: 100%;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__social {
  display: flex;
  flex-direction: row;
  margin-left: 62%;
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 0.5rem;
  transition: color 0.3s;
  display: flex;

}


.footer__icon:hover {
  color: #000000;
}

.footer__icon i {
  display: block;
}

.footer__social a {
  margin-bottom: 1rem;
}

.footer__social a:last-child {
  margin-bottom: 0;
}

.footer__social p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.left1,
.right1 {
  flex: 1;
  padding: 1rem;
}

.left1 {
  text-align: left;
}

.right1 {
  text-align: right;
}

.right1 a {
  margin-bottom: 0.5rem;
}

.right1 a:last-child {
  margin-bottom: 0;
}

.footer__social p a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__social p a:hover {
  color: #00aaff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .left1,
  .right1 {
    text-align: center;
    padding: 1rem 0;
  }

  .right1 {
    margin-top: 1rem;
  }
}

/* Education Section */
.fix {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.edu {
  display: block;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: rgba(197, 66, 66, 0.1) 0px 4px 12px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s, box-shadow 0.7s;
}

.edu:hover {
  transform: translateY(15px);
  box-shadow: rgba(194, 9, 9, 0.2) 0px 8px 24px;
}

.edu h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.edu h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.black {
  color: rgb(78, 36, 225);
}

.black1 {
  color: rgb(59, 55, 55);
}

.black2 {
  color: rgb(72, 49, 220);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: 1fr;
  }
}

/* Project Section */
.projects {
  padding: 2rem 0;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  margin: 5px;
}

.project-item {
  background-color: #232323;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: rgba(62, 62, 255, 0.2)  0px 7px 29px 0px;
}

.project__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 4px solid rgb(78, 36, 225);
}

.project__info {
  padding: 1rem;
  text-align: left;
}

.project__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(78, 36, 225);
}

.project__description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #aaa;
}

.project__link {
  text-decoration: none;
  color: rgb(0, 122, 255);
  font-weight: bold;
  transition: color 0.3s;
}

.project__link:hover {
  color: #00aaff;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .projects__container {
    grid-template-columns: 1fr;
  }
}

.aboutmain {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: rgb(78, 36, 225);
    transition: 0.5s;
    color: white;
  }
}

.laptop{
  background-color: black;
  border-radius: 15px;
}





















.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav__logo h2 {
  margin: 0;
}

.nav__menu {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: 2rem;
}

.nav__link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav__link:hover,
.nav__link.active-link {
  color: rgb(28, 9, 233);
}

.l-header::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: linear-gradient(to right, red, green, blue, yellow);
  z-index: -1;
  filter: blur(10px);
  opacity: 0.7;
  animation: animateBorder 5s linear infinite;
}

@keyframes animateBorder {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.content {
  padding-top: 80px;
  /* Adjust based on navbar height */
}

section {
  padding: 2rem;
  margin: 2rem 0;
}